
@{
    ViewBag.Title = "Change Password";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Change Password</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Home</a>
            </li>
           
            <li class="active">
                <strong>Change password</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">


    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-12 col-lg-offset-2">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label" >Current password</label>
                        <input id="txtactualpassword" type="password"  class="form-control">
                    </div>
                    </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label" >New password</label>
                        <input id="txtnewpassword" type="password" class="form-control">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Confirm New password</label>
                        <input type="password" id="txtconfirmnewpassword" class="form-control">

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <button id="btnChangePassword" class="btn btn-primary float-right" type="submit">Change</button>
                    </div>
                </div>
               

                </div>

    </div>


        </div>

</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/plugins/slimScroll")
@Scripts.Render("~/bundles/inspinia")

<!-- Skin config script - only for demo purpose-->
@Scripts.Render("~/bundles/skinConfig")

<!-- Handler for local scripts -->


<script type="text/javascript">
    $(document).ready(function () {
      



        $("#btnChangePassword").click(function () {

            if ($("#txtactualpassword").val() == "" || $("#txtactualpassword").val().toString().length < 4) {
                //alertify.alert("Please Enter your actual<b style='color: #e67070;'> Password</b> ", function (e) { if (e) { $("#txtactualpassword").focus(); } }); return false;
                ShowAlert("Please enter your current<b style='color: #e67070;'> Password.</b>", undefined, txtactualpassword); return false;
            }

            if ($("#txtnewpassword").val() == "" || $("#txtnewpassword").val().toString().length < 4) {
                //alertify.alert("Please Enter a new <b style='color: #e67070;'>valid password</b> (Minumun 5 digits)", function (e) { if (e) { $("#txtnewpassword").focus(); } }); return false;
                ShowAlert("Please enter a new <b style='color: #e67070;'>valid password</b> (Minumun 5 digits)", undefined, txtnewpassword); return false;
            }

            if ($("#txtconfirmnewpassword").val() == "" || $("#txtconfirmnewpassword").val().toString().length < 4) {
                //alertify.alert("Please verify new <b style='color: #e67070;'>password confirmation</b>", function (e) { if (e) { $("#txtconfirmnewpassword").focus(); } }); return false;
                ShowAlert("Please verify new <b style='color: #e67070;'>password confirmation</b>", undefined, txtconfirmnewpassword); return false;
            }

            if ($("#txtnewpassword").val() != $("#txtconfirmnewpassword").val()) {

                ShowAlert("Please verify Password Confirmation", undefined, txtnewpassword); return false;
                $("#txtnewpassword").val("")
                $("#txtconfirmnewpassword").val("");
                return false;


            }

         

            var params = {
                actualpass: $("#txtactualpassword").val(),
                newpassword: $("#txtnewpassword").val(),
                newpasswordconfirmation: $("#txtconfirmnewpassword").val()
            }







            $.post("/Profile/ChangePasswordDoit", params, function (res) {
                if (res == "False" || res == null) {
                    $(".loader").fadeOut("fast");
                    //alertify.alert("You cannot change your password at this time, please try later or contact our customer service.", function () {
                    //    window.location.href = '/Login/Login';
                    //});
                    ShowAlert("You cannot change your password at this time, please try later or contact our customer service.", "/Login/Login", undefined); return false;

                } else {
                    $(".loader").fadeOut("fast");
                    ShowAlert("Password updated!", undefined, undefined); return false;
                    //alertify.alert("Password updated!");

                }


            });


        });



    });

</script>

}

